* {
    border: 0px;
    padding: 0px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    size: 40px;
    padding: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}